@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.nav{
  background-color: rgb(117, 117, 204);
  padding: 1em;

}
.navList {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

li:hover{
  text-decoration: underline solid black;
}
a{
  text-decoration: none;
}


.btn {
  display: inline-block;
  background: rgb(117, 117, 204);
  color: rgb(243, 238, 238);
  border: none;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}


footer {
  margin-top: 30px;
  text-align: center;
}
